/* Container value
----------------------------------------------------------------------------------------------------*/
$container: 1230px;

/* Column number
----------------------------------------------------------------------------------------------------*/
$grid-cols: 12;

/* Value for padding col- and row
----------------------------------------------------------------------------------------------------*/
$value-1: 8px;

/* Typo
----------------------------------------------------------------------------------------------------*/
$montserrat-regular: "montserrat-regular", "Arial", sans-serif;

/* Breakpoint
----------------------------------------------------------------------------------------------------*/
$breakpoints: (
  "m": 768px,
  "l": 992px,
  "xl": 1200px
);

/* Color
----------------------------------------------------------------------------------------------------*/
$color: (
  c-w: #fff,
  c-b: #000,
  c-1: #0A259C,
  c-2: #FF6A65
);

/* Gutter & margin
----------------------------------------------------------------------------------------------------*/
$spaceamounts: (0, 5, 10, 15, 20);
$sides: (top, bottom, left, right);

/* Font-size
----------------------------------------------------------------------------------------------------*/
$fontsize: (10, 12, 14, 16, 18, 20, 22, 24);

/* Display
----------------------------------------------------------------------------------------------------*/
$display: (
  b: block,
  f: flex,
  n: none,
  ib: inline-block
);

/* Text align
----------------------------------------------------------------------------------------------------*/
$text: (
  l: left,
  c: center,
  r: right
);

/* Justify content
----------------------------------------------------------------------------------------------------*/
$justify: (
  c: center,
  fs: flex-start,
  fe: flex-end,
  sb: space-between
);

/* Flex direction
----------------------------------------------------------------------------------------------------*/
$direction: (
  r: row,
  c: column,
  cr: column-reverse
);

/* Align items
----------------------------------------------------------------------------------------------------*/
$alignment: (
  fs: flex-start,
  c: center,
  fe: flex-end,
  e: end,
  s: stretch,
  b: baseline
);

/* Position
----------------------------------------------------------------------------------------------------*/
$position: (
  r: relative,
  a: absolute
);
