<footer class="footer" id="footer" role="contentinfo" itemscope itemtype="http://schema.org/WPFooter">
    <div class="wrapper">
        <p>Follow us:</p>
        <span itemscope itemtype="http://schema.org/Organization">
            <link itemprop="url" href="http://www.your-company-site.com">
            <a itemprop="sameAs" target="_blank" rel="noopener" href="http://www.facebook.com/your-company">FB</a>
            <a itemprop="sameAs" target="_blank" rel="noopener" href="http://www.twitter.com/YourCompany">Twitter</a>
        </span>
    </div>
</footer>