<header id="header" class="header" role="banner" itemscope itemtype="http://schema.org/WPHeader">
    <div class="wrapper">
        <div class="header__logo">
            <a href="#" class="header__logo-link">
                <img src="" width="" height="" alt="">
            </a>
        </div>
    </div>
    
    <nav id="menu" class="menu menu__mobile" role="navigation" itemscope itemtype="http://schema.org/SiteNavigationElement">
        <div class="wrapper">
            <ul>
                <li itemprop="url">
                    <a href="home.html" itemprop="name">menu item</a>
                    <ul>
                        <li itemprop="url"><a href="index.html" itemprop="name">menu item</a></li>
                        <li itemprop="url"><a href="#" itemprop="name">menu item</a></li>
                        <li itemprop="url"><a href="#" itemprop="name">menu item</a></li>
                        <li itemprop="url"><a href="#" itemprop="name">menu item</a></li>
                        <li itemprop="url"><a href="#" itemprop="name">menu item</a></li>
                        <li itemprop="url"><a href="#" itemprop="name">menu item</a></li>
                    </ul>
                </li>
                <li class="current-menu-item" itemprop="url"><a href="#" itemprop="name">menu item</a></li>
                <li itemprop="url"><a href="#" itemprop="name">menu item</a></li>
                <li itemprop="url"><a href="#" itemprop="name">menu item</a></li>
                <li itemprop="url"><a href="#" itemprop="name">menu item</a></li>
            </ul>
        </div>
    </nav>
</header>