<header
  class="header"
  role="banner"
  itemscope
  itemtype="http://schema.org/WPHeader">
  <a href="#" class="logo"> <img
    src=""
    alt="" /> </a>

  <nav
    class="nav"
    role="navigation"
    itemscope
    itemtype="http://schema.org/SiteNavigationElement">
    <div class="wrapper">
      <ul>
        <li itemprop="url">
          <a href="home.html" itemprop="name">menu item</a>
          <ul>
            <li itemprop="url"><a href="index.html" itemprop="name">menu
                                                                    item</a>
            </li>
            <li itemprop="url"><a href="#" itemprop="name">menu item</a></li>
            <li itemprop="url"><a href="#" itemprop="name">menu item</a></li>
            <li itemprop="url"><a href="#" itemprop="name">menu item</a></li>
            <li itemprop="url"><a href="#" itemprop="name">menu item</a></li>
            <li itemprop="url"><a href="#" itemprop="name">menu item</a></li>
          </ul>
        </li>
        <li itemprop="url"><a href="#" itemprop="name">menu item</a></li>
      </ul>
    </div>
  </nav>
</header>
